/*上传控件样式*/
.file{
	width:191px;
	height:25px;
}
.file-container{
	display:inline;
}
.fileBtn{
	background-image: url(form/fileBtn.jpg);
	width:47px;
	height:22px;
	border:0;
	margin:0 0 0 2px;
}
.fileBtn_ie9 { 
	padding: 9px 0 1px 0; 
}
.fileBtn_ff { 
	padding: 0px 0 3px 0; 
}
.textinput{
	width:120px;
	font-size: 12px;
	background:url(form/textinput_bg.jpg) repeat-x scroll left top #ffffff;
	border-color:#a2b3bd;
	border-style:solid;
	border-width:1px;
	color:#336699;
	height: 18px;
	line-height: 18px;
}
/*上传控件样式*/

/*信息提示*/
.tooltip{
	width: 200px; 
	color:#000;
	text-decoration:none;
	text-align:left;
	display:block;
	word-wrap: break-word;
	word-break: break-all;
}
.tooltip_min{
	width: 80px; 
	color:#000;
	text-decoration:none;
	text-align:center;
	display:block;
	word-wrap: break-word;
	word-break: break-all;
}
.tooltip_mid{
	width: 130px; 
	color:#000;
	text-align:left;
	text-decoration:none;
	text-align:center;
	display:block;
	word-wrap: break-word;
	word-break: break-all;
}
.tooltip .top{
	padding: 30px 8px 0;
    background: url(tooltip/bt.gif) no-repeat top;
	display:block;
}
.tooltip .bottom{
	padding:3px 8px 15px;
	color: #548912;
    background: url(tooltip/bt.gif) no-repeat bottom;
	display:block;
}
.tooltip_min .top{
	padding: 25px 8px 0;
    background: url(tooltip/bt_min.gif) no-repeat top;
	display:block;
}
.tooltip_min .bottom{
	padding:3px 8px 5px;
	color: #548912;
    background: url(tooltip/bt_min.gif) no-repeat bottom;
	display:block;
}
.tooltip_mid .top{
	padding: 25px 8px 0;
	text-align:left;
	line-height:150%;
    background: url(tooltip/bt_mid.gif) no-repeat top;
	display:block;
}
.tooltip_mid .bottom{
	padding:3px 8px 5px;color: #548912;
	text-align:left;
	line-height:150%;
    background: url(tooltip/bt_mid.gif) no-repeat bottom;
	display:block;
}

#cursorMessageDiv {
	position: absolute;
	z-index: 99999;
	border: solid 1px #cc9933;
	background: #ffffcc;
	padding: 2px;
	margin: 0px;
	display: none;
}
/*信息提示*/


/*树形下拉框样式*/
div.selectbox-tree {
	border:#b7d1eb 1px solid;  /*展开层边框色*/
	position: absolute; 
	background-color:#fff; 
	text-align:left;
	z-index: 100;
	display:block;
	left:0px;
	top:18px;
	>top:25px;
}

.dbSelectionMode{
	border:1px solid black;/*边框色*/
	background-image: url(form/selListBg.jpg);
	background-repeat: repeat-x;
	background-position:0% 100%;
	background-color:white;
}
.selBtnMuiti{
	background-image: url(form/selBtnMulti.jpg)!important;
}
.selBtn_disabledMuiti{
	background-image: url(form/selBtn_disabledMulti.jpg)!important;
}
.noGroupZtree .noline_docu{
	display:none!important;
}
.noGroupZtree .level0{
	padding-left:6px!important;
	height:22px!important;
}
.noGroupZtree li .curSelectedNode{
	background-color:transparent!important;
	border:none!important;
}
.selectbox-tree a:hover{
	background-color:#0081dd!important;
	color:white!important;
	text-decoration:none!important;
}
.multiSelectZtree li .curSelectedNode{
	background-color:transparent!important;
	border:none!important;
}
.multiSelectZtree li  a:hover{
	background-color:#0081dd!important;
}
/*树形下拉框样式*/

/*多选下拉框样式*/
.jquery_rgbmultiselect_ie6_iframe
{
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 99;
}
.jquery_rgbmultiselect_blurred
{ 
  color: gray !important;
}
.jquery_rgbmultiselect_options_helptext
{
  color: gray;
  margin: 2px;
}
.jquery_rgbmultiselect_options_item,
.jquery_rgbmultiselect_options_item SPAN
{ 
  cursor: pointer;
}
.jquery_rgbmultiselect_options_item INPUT
{ 
  vertical-align: middle;
}
.jquery_rgbmultiselect_options_item SPAN .jquery_rgbmultiselect_options_text_filtermatch
{ 
  font-weight: bold;
}
.jquery_rgbmultiselect_options_item
{ 
  border: 1px solid white;
  line-height: 20px;
 }
 .jquery_rgbmultiselect_options_item_arrownav_selected
{ 
  border: 1px solid #777777;
 }
 .jquery_rgbmultiselect_options_item_singlefiltered
{ 
  color: white;
  background-color: #3366cc;
}
.jquery_rgbmultiselect_options_unselected
{ 
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
 }
.jquery_rgbmultiselect_input
{ 
  color: black;
  background-color: #f1f9fc;
  background-image: url(form/multiSelBtn.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  border:solid 1px #a2b3bd;/*边框颜色*/
  height:20px;
  line-height:20px;
 }
.jquery_rgbmultiselect_options_container
{ 
  text-align: left;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: auto;
  border: 1px solid #b7d1eb;/*下拉容器边框颜色*/
  font-size: 13px;
  line-height: 15px;
  font-family: Helvetica, Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0 2px;
  background-color: white;
  z-index: 600;
 }
.jquery_rgbmultiselect_options_selected_item
{ 
  background-color: #e0ecf7;/*选中项颜色*/
  border: 1px solid #e0ecf7;/*选中项颜色*/
  color: black;
 cursor:pointer;
	cursor:hand;
 }
.jquery_rgbmultiselect_options_item_hovered
{ 
  color: white;
  border: 1px solid #3366cc;/*鼠标移入项颜色*/
  background-color: #3366cc;/*鼠标移入项颜色*/
 cursor:pointer;
	cursor:hand;
 }
/*多选下拉框样式*/

/*单选下拉框样式*/
.mainCon{
	position: relative;
	display: inline;
	z-index: 500;
}
div.selectbox-wrapper {
	border:#b7d1eb 1px solid;  /*展开层边框色*/
	position: absolute; 
	background-color:#fff; 
	text-align:left;
	z-index: 100;
	display:block;
	left:0px;
	top:18px;
	>top:25px;
}
div.selectbox-wrapper ul li.selected {
	background-color: #e0ecf7;/*选中项背景色*/
}
div.selectbox-wrapper ul li.current {
	color: #fff;
	background-color: #3366cc;/*鼠标移入项背景色*/
}
div.selectbox-wrapper ul li.group{
	font-weight:bold;
	background-image:url(form/selArr.gif);
	background-repeat:no-repeat;
	background-position:0% 50%;
	padding-left:15px;
	_width:80%;
}
div.selectbox-wrapper ul li {
	padding-right:3px;
	padding-left:3px;
	padding-bottom:3px;
	cursor:pointer;
	cursor:hand;
	line-height:20px;
	padding-top:3px;
	_width:100%;
}
.selectbox { 
	border:none;  
	cursor: pointer;  
	cursor: hand;
	font-size: 12px;
	HEIGHT: 20px; 
	line-height: 20px;
	overflow-y:hidden;
	border-left: solid 1px #cccccc;
	border-top: solid 1px #cccccc;
	border-bottom: solid 1px #cccccc;
	background-image: url(form/textinput_bg.jpg);
	background-repeat: repeat-x;
	background-color:#F7FAFC;
	padding-left: 4px;
	min-width:30px;
}
.selectboxFont{
	font-family: "Lucida Console","Eras Medium ITC","Goudy Old Style",Default;
}
.tipColor{
	color:gray;
}
.selBtn{
	background-image: url(form/selBtn.jpg);
	width: 22px;
	height: 28px;
	border: 0;
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
	padding: 3px 0 6px 0;
	border-bottom:solid 1px #bdcfde;
    *border-bottom:0;
    _border-bottom:0;
}
.selBtn_ie9 { 
	padding: 8px 0 1px 0!important; 
	border-bottom:0!important; 
}
.selBtn_safari{
	background-image: url(form/selBtn.jpg);
	width: 22px;
	height: 24px;
	border: 0;
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
	padding: 0;
	border-bottom:solid 1px #bdcfde;
}
.selBtn_linux{
	background-image: url(form/selBtn.jpg);
	width: 22px;
	height: 24px;
	border: 0;
	background-repeat: no-repeat;
	cursor: pointer;
	cursor: hand;
	padding: 1px 0 8px 0;
}
.loader{
	position:absolute;
	z-index:500;
	left:0px;
	top:-8px;
	padding-left:5px;
	padding-top:3px;
	>padding-top:8px;
	width:100%;
	height:30px;
	-moz-opacity:0.8;opacity:.80;filter:alpha(opacity=80);
	background-color:white;
}
.li_left{
	float:left;
}
.mainCon .inputDisabled{
	background-color:#eeeeee!important;
	background-image:none!important;
	color:#c0bfbf!important;
	cursor: default!important;
}
.selBtn_disabled{
	background-image: url(form/selBtn_disabled.jpg)!important;
	cursor: default!important;
}
/*单选下拉框样式*/


/*文本框样式*/
.textinput{
	width:120px;
	font-size: 12px;
	background:url(form/textinput_bg.jpg) repeat-x scroll left top #ffffff;
	border-color:#a2b3bd;
	border-style:solid;
	border-width:1px;
	color:#336699;
	height: 18px;
	line-height: 18px;
}
.textinput_hover{
	width:120px;
	font-size: 12px;
	background:url(form/textinput_bg.jpg) repeat-x scroll left top #ffffff;
	border-color:#00ccff;/*鼠标移入边框颜色*/
	border-style:solid;
	border-width:1px;
	color:#336699;
	height: 18px;
	line-height: 18px;
}
.textinput_click{
	width:120px;
	font-size: 12px;
	background:url(form/textinput_bg.jpg) repeat-x scroll left top #ffffff;
	border-color:#fbd45c;
	border-style:solid;
	border-width:1px;
	color:#336699;
	height: 18px;
	line-height: 18px;
}
/*文本框样式*/

/*文本域样式*/
.textarea{
	background:url(form/textarea_bg.jpg) repeat-x scroll left top #ffffff;
	overflow: auto;
	width: 250px;
	height: 80px;
	color: #000000;
	border-color:#a2b3bd;
	border-style:solid;
	border-width:1px;
	font-size:12px;
}
.textarea_hover{
	background:url(form/textarea_bg.jpg) repeat-x scroll left top #ffffff;
	overflow: auto;
	width: 250px;
	height: 80px;
	color: #000000;
	border-color:#00ccff;/*鼠标移入边框颜色*/
	border-style:solid;
	border-width:1px;
	font-size:12px;
}
.textarea_click{
	background:url(form/textarea_bg.jpg) repeat-x scroll left top #ffffff;
	overflow: auto;
	width: 250px;
	height: 80px;
	color: #000000;
	border-color:#fbd45c;
	border-style:solid;
	border-width:1px;
	font-size:12px;
}
/*文本域样式*/

/*文本框清除文字*/
div.text_clear_button { background-image:url(form/clear_cross.png); width:11px; height:11px; margin:0; padding:0; background-repeat:no-repeat;
  z-index:2; position:absolute; cursor:pointer; }
/*文本框清除文字*/  
  
/*文本框查询*/
div.text_select_button { background-image:url(form/zoom.png); width:11px; height:11px; margin:0; padding:0; background-repeat:no-repeat;
  z-index:2; position:absolute; cursor:pointer; }
/*文本框查询*/ 

 /*文本框输入限制*/
.maxNum{
	color:black;
}
 /*文本框输入限制*/

 /*文本域尺寸可调*/
div.grippie {
	background:#EEEEEE url(form/grippie.png) no-repeat scroll center 2px;
	border-color:#DDDDDD;
	border-style:solid;
	border-width:0pt 1px 1px;
	cursor:s-resize;
	height:9px;
	overflow:hidden;
	
}
.resizable-textarea{
	width:100px;
}
 /*文本域尺寸可调*/

 /*密码强度*/
.password_strength {
	padding: 0 5px;
	display: inline-block;
	}
.password_strength_1 {
	background-color: #fcb6b1;
	}
.password_strength_2 {
	background-color: #fccab1;
	}
.password_strength_3 {
	background-color: #fcfbb1;
	}
.password_strength_4 {
	background-color: #dafcb1;
	}
.password_strength_5 {
	background-color: #bcfcb1;
	}
 /*密码强度*/

 /*水印*/
.watermark {color:#999!important;}
 /*水印*/

#cursorMessageDiv {
	position: absolute;
	z-index: 99999;
	border: solid 1px #cc9933;
	background: #ffffcc;
	padding: 2px;
	margin: 0px;
	display: none;
}

/*checkbox与radio*/
.cust_checkbox{
	font-size:16px;
	cursor: pointer;
}
.cust_checkbox_on{
	background:url(form/checkbox_on.jpg) no-repeat 0 0;
}
.cust_checkbox_hvr{
	background:url(form/checkbox_hvr.jpg) no-repeat 0 0 !important;
}
.cust_radio_on{
	background:url(form/radiobox_on.gif) no-repeat 0 0;
}
.cust_radio_hvr{
	background:url(form/radiobox_hvr.gif) no-repeat 0 0  !important;
}
.cust_checkbox_off{
	background:url(form/checkbox_off.jpg) no-repeat 0 0;
}
.cust_radio_off{
	background:url(form/radiobox_off.gif) no-repeat 0 0;
}
.cust_checkbox_disabled_on{
	background:url(form/checkbox_disabled_on.jpg) no-repeat 0 0;
}
.cust_checkbox_disabled_off{
	background:url(form/checkbox_disabled_off.jpg) no-repeat 0 0;
}
.cust_radio_disabled_on{
	background:url(form/radiobox_disabled_on.gif) no-repeat 0 0;
}
.cust_radio_disabled_off{
	background:url(form/radiobox_disabled_off.gif) no-repeat 0 0;
}
/*checkbox与radio*/

/*按钮样式*/
.button{
	background:transparent url(form/btn_bg.jpg) repeat scroll 0 0;
	border:2px solid #aabbcc;
	font-size:12px;
	height:22px;
	line-height:20px;
	margin-right:4px;
}
.button_hover{
	background:transparent url(form/btn_bg_hover.jpg) repeat scroll 0 0;
	border:1px solid #af923f;
	font-size:12px;
	height:22px;
	line-height:20px;
	margin-right:4px;
}
.button_focus{
	background:transparent url(form/btn_bg.jpg) repeat scroll 0 0;
	border-color:#00bbff;
	border:1px solid;
	font-size:12px;
	height:22px;
	line-height:20px;
	margin-right:4px;
}
/*按钮样式*/